* {
    font-family: helvetica, sans-serif;
}

body {
    width: 90%;

}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto 20px auto;
    border-bottom: solid 1px black;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.pic-of-me {
    width: 85%;
    border-radius: 100%;
    border: solid 1px black;
}