* {
    font-family: poppins, sans-serif;
}

body {
    width: 90%;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    border-bottom: solid 1px black;
    padding: 1rem;
}

h1 {
    font-family: Merriweather, serif;
    font-size: 2.5rem;
    margin-left: 1rem;
}

nav {
    /*width: 300px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a p {
    border: solid 1px black;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0 2rem;
    width: 5rem;
    text-align: center;
    background-color: rgb(211, 211, 209);
    color: black;
    font-weight: bold;
}

nav a p:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(185, 185, 185);
}

a {
    text-decoration: none;
}

main {
    max-width: 90rem;
    margin: auto;
    padding-bottom: 5rem;
}

#united {
    color: red;
}

#my-wife {
    color: rgb(209, 10, 209);
    border:solid 1px black;
}

.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#about-me-and-pic {
    gap: 5%;
}

.pic-of-me {
    width: 85%;
    border-radius: 100%;
    border: solid 1px black;
}

#languages-and-projects {
    margin-top: 3rem;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

#languages, #projects {
    margin: auto;
    width: 20rem;
    border: solid 1px black;
    padding: 0 1.5rem;
    box-shadow: 0.25rem 0.5rem;;
}

#languages {
    display: flex;
}

.language-logos {
    width: 7rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

footer {
    margin-top: auto;
    text-align: center;
    border-top: solid 1px black;
    height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    z-index: 5;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1)
}